*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*! API Whatsapp */
.whatsapp {
    position: fixed;
    top: 82%;
    left: 88%;
    padding: 10px;
    z-index: 10000000;
    width: 10%;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-family: Bodoni Moda;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.logo>a{
    color: #BAB9BA;
}
.logo>img{
    width: 15%;
}
#categoria{
    font-family: Bodoni Moda;
    font-size: 20px;
    background-color: #BAB9BA;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}
#categoria>a{
    color: white;
}
.promo{
    display: flex;
    justify-content: center;
}
.promo img{
    width: 40%;
}
.produto-promo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.produto-promo a{
    margin-top: 40px;
}
.img2{
    width: 30%;
    
}
.img2 img{
    width: 100%;
}
.img1{
    width: 30%;
        
}
.img1 img{
    width: 100%;
}
.img3{
    width: 30%;
}
.img3 img{
    width: 100%;
}
.img4{
    width: 30%;
}
.img4 img{
    width: 100%;
}
.img5{
    width: 30%;
}
.img5 img{
    width: 100%;
}
.img6{
    width: 30%;
}
.img6 img{
    width: 100%;
}



.produto-promo>a{
    text-align: center;
    color: black;
    padding-top: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    
    
    
}

.produto-promo h1{
    font-family: Arial;
    font-size: 35px;
    color: red;
}
.produto-promo h2{
    font-family: Arial;
    font-size: 15px;
}
.rodape{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color:#BAB9BA;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items:center ;
    margin-top: 50px;
    padding-bottom: 15px;

}
.rodape h1{
    font-family: Arial;
    font-size: 15px;
    color: white;
    
}
.rodape h2{
    font-family: Arial;
    font-size: 15px;
}
.rodape h4{
    font-family: Arial;
    font-size: 10px;
    color: white;

}
.entrega h2{
    color: rgb(7, 147, 241);
}
.horario{
    text-align: center;
    color: white;
}